.back{
    background-color: rgb(179, 62, 62);
    height: 1200px;
    clip-path: polygon(0 0,100% 0,100% 89%, 91% 100%, 25% 100%,0 100%);
}
.left{
    display: flex;
    justify-content: space-between;
}
input[type=text]{
    height: 40px;
    width: 495px;
    margin: 2%;
}
.size{
    height: 70px;
    width: 495px;
    margin-left: 2%;
    border-color: white;
    background-color: rgb(179, 63, 63); 

}
.hola{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 750;
    color: aliceblue;
}
.hen{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.sub{
        padding-top: 278px;
    padding-left: 115px;
}
.plank{
    margin-top: 10%;
    background-color: rgb(179, 63, 63);
    color: white;
}
.all{
        padding-top: 20px;
    padding-right: 115px;
}
.btn{
    margin-top: 4%;
    margin-left: 2%;
    width: 420px;
    height: 50px;
    font-size: 20px;
}
.own{
    line-height: 20px;
}
.how{
font-size: 30px;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hell{
    background-color: rgb(179, 63, 63);
    border-color: white;
}
.north{
    margin-left: 2%;
}
.west{
    color: white;
    font-size: 12px;
}
.down{    margin-left: 84px;}
.south{    margin-left: 139px;}
.boom-textarea::placeholder{
    color: white;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}
.check{
    padding-bottom: 15px;
}
.noo{
    padding: 0px 0px 15px 0px;
}
.pull{
    padding-top: 15px;
}
.last{padding-top: 15px;}
.buton{padding-top: 40px;}
.test{
    padding-bottom: 12px;
    width: 200px;
    padding-left: 6px;
}
.chicky{
    padding-left: 365px;
}
.nick{padding-left: 260px;}
.boton{
    padding: 0;
    height: 13px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: -16px;
}

.ben{
    padding-left: 270px;
}
.boom{margin-top: 4px;}
.chal{padding-left: 360px}
.well{padding-top: 10px;
padding-left: 330px;}
.need{
    padding-left: 10px;
}
.kill{
    color: white;
}