.back{
    background-color: brown;
    height: 1250px;
    clip-path: polygon(0 0,100% 0,100% 89%, 91% 100%, 25% 100%,0 100%);
}
.left{
    display: flex;
    justify-content: space-between;
}
input[type=text]{
    height: 40px;
    width: 495px;
    margin: 2%;
}
.size{
    height: 70px;
    width: 495px;
    margin-left: 2%;
    border-color: white;
    background-color: brown

}
.hola{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 750;
    color: aliceblue;
}
.hen{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.sub{
        padding-top: 278px;
    padding-left: 115px;
}
.plank{
    background-color: brown;
}
.all{
        padding-top: 60px;
    padding-right: 115px;
}
.btn{
    margin-top: 4%;
    margin-left: 2%;
    width: 420px;
    height: 50px;
    font-size: 20px;
}
.own{
    line-height: 20px;
    font-size: 20px;
    padding-left: 4px;
}
.how{
font-size: 30px;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hell{
    background-color: brown;
    border: 2px solid white;
    /* border-radius: 2px; */
    margin-left: 2%;

}
.west2{
    color: white;
    font-size: 13px;
}
.down{    margin-left: 84px;}
.south{    margin-left: 139px;}
.boom-textarea::placeholder{
    color: white;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}
.pull{
    padding-top: 15px;
}
.last{padding-top: 15px;}
.buton{padding-top: 40px;}
.test{
    padding-bottom: 12px;
    width: 200px;
    padding-left: 6px;
}
.chicky{
    padding-left: 365px;
}
.nick{padding-left: 260px;}
.check2{
    padding-top: 25px;
}
.kill{
    color: white;
}
.test2{
    display: flex;
    padding-bottom: 12px;
}
.ben2{
    padding-top: 2px;
    padding-left:140px ;
}
.boton2{
    height: 13px;
    width: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bang{
    padding-left: 6px;
}
.boton3{
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lock{
    padding-left: 465px;
}
.bash{
    padding-left: 430px;
}